/* !  BASE CSS  */
/*  *These styles apply unless another style overwrites it*/
 body {
    background-color: beige;
 }
/* !  MEDIA QUERIES */
/* *
*Overwrites previous styles ONLY when they are triggered
*Only include selectors & properties that need to change
*/

/* ? Media query that targets a  width of 500px and below */

@media screen (max-width: 500px) {
    body{
         background-color: pink;
    }
    
}

/* ? Media query that targets a width of 800px and higher */

@media screen (min-width: 800px) {
     background-color: lightblue;   
}

/* ? Media query that targets the width of 1200px and higher*/

@media screen (width: 1200px) {
    background-color: purple;
}
/* Normal media query */

/* NEW RANGE SYNTAX = THIS WEEK'S EASTER EGG */
