body {
    margin: 0;
    width: 100%;
    font-family: "Nabla", "Josefin sans", Helvetica, Arial, sans-serif; 
}


header {
    font-family: "Nabla", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.section-wrapper {
    display: grid ;
    gap: 1.5;    
}