@font-face {
    font-family: 'Montserrat', "Josefin Sans", "Nabla";
    src:https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,500&family=Montserrat:wght@200;300;600&family=Nabla&display=swap ;
}

body{
    margin: 0 auto ;
    font-family: "Montserrat", "Nabla", "Josefin Sans", Arial, Helvetica, sans-serif;
}

/* h1 {
    font-family: "Nabla" ;
}flex-auto flex-flow flow-wrap md:flex-auto md:flex-wrap */