 body {
    margin: 0 auto ;
    font-family; "Montserrat", "Nabla", "Josefin Sans";
}


@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,500&display=swap);
    font-family:"Josefin Sans" ;
}

@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Nabla&display=swap);
    font-family:"Nabla" ;
}

@font-face {
    src: url(  https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap);
    font-family:"Montserra" ;
}

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,500&family=Montserrat:wght@200;300;600&family=Nabla&display=swap);


h1 {
    font-family: "Nabla" ;
    text-size-adjust: 1.25rem;
/* }

form#contactMe input, form#contactMe textarea{
display: block;
/* width: 50%; */
padding: 10px;
margin:10px auto;
background: white;
color: rgb(254,153,219);
text-shadow:1px 1px 1px rgba(0,0,0,0.75);
/* border-radius: 0;
font-family:helvetica;
font-weight: bold; */
/* cursor: pointer; */
transition: all 0.5s;
border-radius: 25px 25px 25px 25px;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
text-align:right;
} */

/* #contactMe input#fname {
    float: left;
    width: 49.5%;
    margin: 0px 0 10px 0;
    border-radius: 25px 25px 25px 25px; 
  } */
  /* #contactMe input#lname {
    float: right;
    width: 49.5%;
    margin: 0px 0 10px 0;
  } */
  form#contactMe input::placeholder,
  form#contactMe textarea::placeholder {
    color: pink;
    text-align: right;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 0.8rem;
  }
  form#contactMe textarea {
    height: 150px;
  }
  
  form#contactMe input:hover,
  form#contactMe textarea:hover,{
    background-color: black;
    border: 1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  button[type="submit"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    background: white;
    color: pink;
    border-radius: 0;
    /* font-family: helvetica;
    font-weight: 100; */
    /* cursor: pointer; */
    transition: all 0.5s;
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
  }
  
  button[type="submit"]:hover {
    background: black;
    letter-spacing: 1px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
  }