/*  Terry Biesboer\
    Project & Portfolio 1  - WDV119
    March 31, 2024
*/



/*                    about.html page                     */


/* Roboto font class */


 .roboto-light { 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Abril Fatface classes */

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  /* max-width: 1400px; */
  width: 100%;
}


/* Header */


header {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "headerNavBarLogo headerNavBarLinks headerNavBarButton";
  background-color: #e7ecf3;
  color: #587c93;
  width: 100%;
  font-family: "Roboto", sans-serif;
  justify-items: baseline;
}

.headerNavBarLogo > img {
  position: relative;
  max-width: 40%;
  /* min-width: 40%; */
  top: 45%;
  left:45%;
  justify-content: center;
  /* margin: 45px 100px; */
  width: 40%;
  /* align-content: left; */

}

.headerNavBarLinks > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: right;
  padding-top: 50px;
  position: relative;
}

.headerNavBarLinks > nav > a, a:focus, a:hover {
  margin-left: 20px;
  padding-left: 5px;
  text-decoration: none;
  
}

.headerNavBarButton {
  padding-top: 35px;
  padding-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  width: 100%;
}




/* Hero */


.heroImage {
  position: relative;
  width: 100%;
  /* margin: 0 0; */
}

.heroImage img {
  display: block;
  object-fit: none;
  /* object-position: fit-content; */
  /* max-width: 100%; */
  width: 100%;
  height: 300px;
  object-fit: none;
  /* object-position: bottom*/
}

.heroImage figcaption {
  position: absolute;
  padding-left: 100px;
  padding-bottom: 25px;
  top: 25%;
  bottom: 25%;
  color: white;
}

.heroImage h2{
  font-family: "Abril Fatface", sans-serif;
  font-size: 40px;
}

.heroImage h3{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}





/* Choose Destination */


.chooseDestination {
  display: grid;
  gap: 1rem;
  grid-template-rows: 75px;
  margin: 25px 150px;
  max-width: 1200px;
  background-color: #587c93;
  justify-content: center;
  text-align: center;
}

.chooseDestination h4 {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Abril Fatface", sans-serif;
  font-size: 33px;
  text-align: center;
  color: white;
  padding-top: 25px;
}

.searchBar {
  padding-bottom: 25px;
  height: fit-content;
}

.chooseDestinationInputField {
  height: 32px;
  width: 500px;
  min-width: 125px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  float: left;
  padding-left: 15px;
}

#chooseDestinationButton {
  align-items: center;
}




/* Trending Tours */


.trendingTours {
  background-color: #e7ecf3;
  width: 100%;
  /* margin: 0, auto; */
}

.tourGalleryHeader h3 {
  text-align: center;
  font-family: "Abril Fatface", sans-serif;
  font-size: 33px;
  padding-top: 25px;
  color: #222222;
}

.tourGalleryHeader h6 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  padding: 10px 0;
  color: #444444;
}

.tourCards {
  background-color: #e7ecf3;
  max-width: 1400px;
  margin: 0, auto;
  padding-left: 45px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "alpsTourCard reefTourCard pyramidTourCard";
  padding-right: 45px;
}

.tourCards img {
  object-fit: fill;
  width: 100%;
  height: 50%;
}

.tourCards p {
  background-color: white;
  text-align: left;
  padding: 10px 10px;
  background-size: 2px solid #444444;
}

.tourCards > button {
  justify-content: right;
}

.tourCardDestination {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #222222;
}

.tourCardDuration {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #444444;
} 

.tourCardCost{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #222222;
}

.alpsTourCard {
  grid-area: alpsTourCard;
}

.reefTourCard {
  grid-area: reefTourCard;
}

.pyramidTourCard {
  grid-area: pyramidTourCard;
}



/* Planning the Perfect Trip */

.planningThePerfectTrip {
  padding-bottom: 25px ;
}

.planningHeader > h2 {
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 33px;
  color: #ee8a5a;
  margin-top: 45px;
}

#headerFontColor {
  color: #222222;
}

.planningHeader > h6 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  padding: 1rem;
}

.planningImages {
  display: grid;
  grid-auto-columns: 100px;
  grid-template-areas: "flightsImage transportationImage guidesImage";
  gap: 6rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 5px ;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #222222;
}

.flightsImage {
  grid-area: flightsImage;  
}

.transportationImage {
  grid-area: transportationImage;
}

.guidesImage {
  grid-area: guidesImage;
}



/* Top Notch Destinations */

.destinationHeaders {
  align-content: center;
  line-height: 1.25;
  padding-bottom: 25px;
}

.destinationHeaders h3 {
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 33px;
  color: #222222;
}

.destinationHeaders h5 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  color: #444444;
}

.destinationExamples {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 150px 150px;
  grid-template-areas: "machuPichu romeItaly sydneyAustarlia"
  "parisFrance romeItaly rioDeJaneiro";
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding: 0, 45px, 25px,45px;
  /* max-width: 1400px; */
  margin-bottom: 45px;
}

.destinationImageCaption {
  position: relative;
  bottom: 50px;
  left: 15px;  
  color: white;
  font-family: "Roboto", sans-serif;
}

.destinationExamples > figure > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinationCity {
  font-weight: bold;
  font-size: 16px;
}

.destinationCountry {
  font-weight: lighter;
  font-size: 16px;
}

.machuPichu {
  grid-area: machuPichu;
  
}

.romeItaly {
  grid-area: romeItaly;
}

.parisFrance {
  grid-area: parisFrance;
  
}

.sydneyAustarlia {
  grid-area: sydneyAustarlia;
  }

.rioDeJaneiro {
  grid-area: rioDeJaneiro;
  
}




/* Footer */

.footerColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px;
  grid-template-areas: "socialColumn contactColumn linksColumn ";
  background-color: #587c93;
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #e7ecf3;
  height: 250px;
  padding: 50px 105px 25px 100px;
  text-decoration: none;
  align-content: center;
}

#invertLogoColor {
  filter: invert(100%);
  width: 200px;
  padding-bottom: 10px;
}

.socialColumn {
  padding-left: 95px;
  display: block;
  font-size: 16px;
}

.socialIcons {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10px;
  grid-template-areas: "facebookIcon instagramIcon twitterIcon";  
  justify-items: left;
  max-width: 10px;
  text-decoration: none;
  line-height: 1.5;
}

.socialIcons img {
  height: 75px;
}

.contactColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
  padding-left: 75px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 30px;
  text-decoration: none;
  line-height: 1.5;
}

.linksColumn a, .contactColumnß {
  text-decoration: none;
  color: white;
}

.footerHeader {
  font-weight: bold;
  padding-bottom: 15px;
}
/* Buttons */

.button {
  display: block;
  width: 110px;
  height: 32px;
  border: none;
  background-color: #ee8a5a;
  color: #e7ecf3;
  padding: 8px 15px;
  font-family: "Roboto", sans-serif;
  font-size:16px;
  }





/* Secondary Pages */


/* About Page */

.aboutArticles {
  display: flex;
  flex-direction: row;
  flex-flow: column;
  gap: 3rem;
  background-color: #e7ecf3;
  margin: 50px 50px 50px 50px;
  padding: 25px;
  box-shadow: 0 20px 20px 0 #444444 ;
}

.aboutArticles h3{
  font-family: "Abril fatface", sans-serif;
  font-size: 30px;
  color: #222222;
  padding: 30px 0 30px 0;
}

.articleParagraphs {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #444444;
  padding-left: 25px;
  padding-bottom: 25px;
}

.atReadySetTravelArticle1 {
  grid-area: atReadySetTravelArticle1;
}

#ourTeamArticle {
  grid-area: ourTeamArticle;
}

.lookingForArticle {
  grid-area: lookingForArticle;
}

.weUnderstandArticle {
  grid-area: weUnderstandArticle;
}

.thankYouArticle {
  grid-area: thankYouArticle;
}

.atReadySetTravelArticle2 {
  grid-area: atReadySetTravelArticle2;
}

.aboutPageImages {
  max-width: 300px;
  border: 2px solid red;
}