/*  Terry Biesboer\
    Project & Portfolio 1  - WDV119
    March 31, 2024
*/


/* Roboto font class */


 .roboto-light { 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Abril Fatface classes */

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}




/* Header */


header {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "headerNavBarLogo headerNavBarLinks headerNavBarButton";
  background-color: #e7ecf3;
  color: #587c93;
  width: 100%;
  font-family: "Roboto", sans-serif;
  justify-items: center;
}

.headerNavBarLogo > img {
  position: relative;
  max-width: 40%;
  min-width: 40%;
  top: 45%;
  left:45%;
 /* margin: 45px 100px; */
 /* width: 40%; */
 /* align-content: left; */
}

.headerNavBarLinks > nav {
  gap: 1rem;
  justify-content: right;
  padding-top: 50px;
  position: relative;
}

.headerNavBarLinks > nav > a, a:focus, a:hover {
  margin-left: 20px;
  padding-left: 5px;
  text-decoration: none;
  
}

.headerNavBarButton {
  padding-top: 35px;
  padding-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  width: 100%;
}




/* Hero */


.image {
  position: relative;
  /* width: 100%; */
  margin: 0 0;
}

.image > img{
  display: block;
  max-width: 100%;
  width: 100%;
  height: 300px;
  object-fit: fill;
}

.image figcaption {
  position: absolute;
  padding-left: 100px;
  padding-bottom: 25px;
  top: 25%;
  bottom: 25%;
  color: white;
}

.image h2{
  font-family: "Abril Fatface", sans-serif;
  font-size: 40px;
  /* padding-left: 250px; */
  /* padding-top: 5px; */
}

.image h3{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  /* padding-left: 250px; */
  /* padding-bottom: 275px; */
}





/* Choose Destination */


.chooseDestination {
  display: grid;
  gap: 1rem;
  grid-template-rows: 75px;
  margin: 25px 150px;
  background-color: #587c93;
  justify-content: center;
}

.chooseDestination h4 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 33px;
  text-align: center;
  color: white;
  padding-top: 25px;
}

.searchBar {
  padding-bottom: 25px;
  height: fit-content;
}

.chooseDestinationInputField {
  height: 32px;
  width: 500px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  float: left;
  padding-left: 15px;
}

#chooseDestinationButton {
  align-items: center;
}




/* Trending Tours */


.trendingTours {
  background-color: #e7ecf3;
  width: 100%;
}

.tourGalleryHeader h3 {
  text-align: center;
  font-family: "Abril Fatface", sans-serif;
  font-size: 33px;
  padding-top: 25px;
  color: #222222;
}

.tourGalleryHeader h6 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  padding: 10px 0;
  color: #444444;
}

.tourCards {
  background-color: #e7ecf3;
  width: 100%;
  float: left;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-template-areas: "alpsTourCard reefTourCard pyramidTourCard";
}

.tourCards img {
  max-width: 100%;
  /* height: 50%; */
}

.tourCards p {
  background-color: white;
  text-align: left;
  padding: 10px 10px;
}

.tourCardDestination {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #222222;
}

.tourCardDuration {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #444444;
} 

.tourCardCost{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #222222;
}

.alpsTourCard {
  grid-area: alpsTourCard;
  box-shadow: 0 2px 2px 0 #a8c7dc;
}

.reefTourCard {
  grid-area: reefTourCard;
  box-shadow: 0 2px 2px 0 #a8c7dc;
}

.pyramidTourCard {
  grid-area: pyramidTourCard;
  box-shadow: 0 2px 2px 0 #a8c7dc;
}



/* Planning the Perfect Trip */

.planningHeader > h2 {
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 33px;
}

.planningHeader > h6 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}

.planningImages {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 50px;
  grid-template-areas: "flightsImage transportationImage guidesImage";
  gap: 0.5rem;
  padding: 50px 50px;
  align-items: center;
}

.flightsImage {
  grid-area: flightsImage;  
}

.transportationImage {
  grid-area: transportationImage;
}

.guidesImage {
  grid-area: guidesImage;
}



/* Top Notch Destinations */

.destinationHeaders h3 {
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 33px;
}

.destinationHeaders h5 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}

.destinationExamples {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-template-rows: 150px 150px;
  grid-template-areas: "machuPichu romeItaly sydneyAustarlia"
  "parisFrance romeItaly rioDeJaneiro";
}

.destinationExamples > figure {
  display: block;
} 

.destinationExamples > figure > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.destinationExamples > figure > img > figcaption {
  position: relative;
  top: 25%;
  bottom: 25%;
  color: white;
}

.destinationExamples > figure > img > figcaption > h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.destinationExamples > figure > img > figcaption > h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.machuPichu {
  grid-area: machuPichu;
}

.romeItaly {
  grid-area: romeItaly;
}

.parisFrance {
  grid-area: parisFrance;
}

.sydneyAustarlia {
  grid-area: sydneyAustarlia;
}

.rioDeJaneiro {
  grid-area: rioDeJaneiro;
}




/* Footer */

.footerColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px;
  grid-template-areas: "socialColumn linksColumn contactColumn";
  background-color: #587c93;
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #e7ecf3;
  height: 250px;
}


#invertLogoColor {
  filter: invert(1);
}

.socialColumn {
  /* display: block; */
  /* flex-wrap: wrap; */
  /* margin-left: 30px; */
}

.socialIcons {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10px;
  grid-template-areas: "facebookIcon instagramIcon twitterIcon";  
  justify-items: auto;
  max-width: 10px;
}


.linksColumn {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* margin-left: 30px; */
}

.contactColumn {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* margin-left: 30px; */
}

/* Buttons */

.button {
  display: block;
  width: 110px;
  height: 32px;
  border: none;
  background-color: #ee8a5a;
  color: #e7ecf3;
  padding: 8px 15px;
  font-family: "Roboto", sans-serif;
  font-size:16px;
  }