/** */

body {
	font-family: 'Open Sans', 'cursive' ;
	text-decoration: cornflowerblue ;
	font-size: 16px ;
	line-height: 1.5 ;
}

header, 
section, 
footer {
	padding: 20px 25px;
}

.container {
		max-width: 1200px;
		width: 80%;
		margin: 0 auto;
	}

.insta {
	background-color: rgb(115, 150, 195);
}

header{
	background-color: #3d5a80;
	color: pink ;
	font-weight:bolder;
}

footer {
	background-color:#D3DAE0;
}

 /**  Typography */

 h1 {
	font-family: 'Open Sans';
	font-size: 3rem;
	margin: 0;
}

h2 {
	font-family: 'Open Sans';
	font-size: 1.5rem;
	margin-top: 0;
	text-transform: capitalize;
}

h3 {
	text-size
}	


/*  Layout */

.flex-wrapper {
	display: flex;
}