 body {
    margin: 0 auto ;
    font-family; "Montserrat", "Nabla", "Josefin Sans";
}


@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,500&display=swap);
    font-family:"Josefin Sans" ;
}

@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Nabla&display=swap);
    font-family:"Nabla" ;
}

@font-face {
    src: url(  https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap);
    font-family:"Montserra" ;
}

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,500&family=Montserrat:wght@200;300;600&family=Nabla&display=swap);


h1 {
    font-family: "Nabla" ;
    text-size-adjust: 1.25rem;
}

.container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
  /* .card {
    background-color: #334155;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(51, 65, 85, 0.7);
    color: white;
  } */
  
  
  .card__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #f9a8d4;
    margin-top: 45px;
    box-shadow: 0 10px 50px rgba(190, 24, 93, 1);
  }
/* 
span > h2 {
    font-family: "Nabla" ;
} */

/* "items-center w-full text-lg font-bold text-center text-gray-400 whitespace-pre-wrap bg-white rounded-tr-full rounded-br-full decoration-solid hover:bg-white hover:text-pink-300 ounded-full md:rounded-none md:grid-cols-2 md: md:p-0 md:justify-center md:justify-between md:justify-content" */