 body{
    margin: 0 auto ;
}

@font-face {
    font-family: 'Montserrat'; 
}

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,500&family=Montserrat:wght@200;300;600&family=Nabla&display=swap);

/* @font-face {
    font-family:"Josefin Sans"; 
    src: url("../css/) */

    h1 {
        font-family: Nabla ;
        text-size-adjust: 1.25rem;
    }
    font-family:"Nabla";