/* Background color changed and verified */
body {
    margin: 0  auto;
    padding: 2rem ;
    background-color: rgb(42, 52, 52);
}
//* h1 color changed and verified */
h1 {
    color: rgb
}
/* h3 color changed and verified */
h3 {
    color: rgb(169, 68, 147)
}
