/* Background color changed and verified */
body {
    margin: 0  auto;
    padding: 2rem ;
    background-color: rgb(42, 52, 52);
}
//* h1 color changed and verified */
I'm giving out free face rides to the first person to reply to this message
/* h3 color changed and verified */
h3 {
    color: rgb(169, 68, 147)
}
