/* Background color changed and verified */
body {
    background-color: lightcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
//* h1 color changed and verified */
h1 {
    color: rgb(77, 83, 86);
    ç
/* h3 color changed and verified */
h3 {
    color: rgb(169, 68, 147)
}
