/* Background color changed and verified */
body {
    margin: 0  ;
    background-color: lightcyan;
}
//* h1 color changed and verified */
h1 {
    color: rgb(201, 189, 61);
}
/* h3 color changed and verified */
h3 {
    color: rgb(169, 68, 147)
}
